<nav class="navbar navbar-expand-lg bg-body border-bottom  fixed-top ">
    <div class="container-fluid mt-4">
        <h6 class="text-uppercase fw-bold fs-1 mb-4">
            <i class="fa-solid fa-truck-fast fa-2xl" style="color: #ff8040;"></i>
            SIDRA
        </h6>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center">
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="#home">
                        <strong>Home</strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#rff">
                        <strong>About</strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#service">
                        <strong>Service</strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">
                        <strong>Contact</strong>
                    </a>
                </li>


            </ul>

        </div>
    </div>
</nav>
<div id="home">
    <div class="m-auto text-center">
        <img src="../../../assets/brick-wall-painted-white.jpg" alt="img-fluid" style="width:100%;">

        <div class="centered">
            <h1 class="fw-bold">We do fast & efficient movings</h1>
            <p>Residential & Commerical Moving, Furniture Dismantling & Assembling, LCD</p>
            <button class="fw-bold"(click)="makeCall()">Call/Whatsapp: 050 782 2740</button>
        </div>
    </div>
</div>



<div class="text-center bg-light text-dark py-5 mt-4" data-aos="fade-right">
    <h1 class="fw-bold">SIDRA MOVERS & PACKERS</h1>
    <div class=" container col-sm-12 col-md-12 col-lg-12 col-12 text-center">

        <label class="">SIDRA Movers is the best moving and storage service provider in Abu Dhabi,
            <br>
            the capital of theUnited Arab Emirates. The moving company is established
            <br>
            with a team internationally trained workers and the core team
            <br>
            consists of professionally experienced members from the logistics field.
            <br>
            We are proud of getting credited as
            <br>
            the first packers and movers company in Emirate of Abu Dhabi,
            <br>
            which has used the latest technology, updated
            <br>
            equipment, modern methods in providing services to your clients.
            <br>
            SIDRA Movers uses tools that are ISO (TheInternational Organization for Standardization)
            <br>
            certified to do perfect packing of products for home
            <br>
            relocation, office relocation, furniture installation, furniture reconfiguration, international relocation,
            <br>
            and local relocation services. Being the best Movers in UAE, Movers in Dubai, Movers in Abu Dhabi,
            <br>
            International Movers in UAE, Furniture Movers in UAE, SIDRA Movers has its own vehicles with skilled
            <br>
            experience personals to easy handles different kinds of transport facilities for everyone.
            <br>
            Be it relocation services, storage services, furniture services,
            <br>
            mobile shelving relocation, handyman service,cargo loading
            <br>
            or offloading and transport we provide the best price allotting our team based on the consumer
            <br>
            requirement.</label>
    </div>
</div>



<div data-aos="fade-down" class="container text-center mt-4">
    <p class="fw-bold">WE ARE A PROFESSIONAL</p>
    <h1 class="fw-bold">Full-Service Solution</h1>
</div>
<!-- <div class="container" id="team"> -->
<div class="about text-center my-4">

    <div class="row mt-4  m-auto" data-aos="zoom-in-up">
        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
            <div class="card ">

                <div class="inner">
                    <img class="card-img-top img-fluid mb-2 w-100"
                        src="../../../assets/adult-man-woman-carrying-cardboard-boxes.jpg" alt="Card image cap">
                </div>
                <div class="card-body bg-light">


                    <h5 class="card-title fw-bold">HOME RELOCATION</h5>
                    <p class="card-text p-4">Sidra Movers & Packers is the prominent service providers of Home
                        Relocation Services in UAE. We provide services for those people who are moving from
                        anywhere in UAE.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
            <div class="card">
                <div class="inner">
                    <img class="card-img-top img-fluid mb-2 w-100"
                        src="../../../assets/young-businessman-moving-office-getting-new-work-place.jpg" alt="Card image cap">
                </div>
                <div class="card-body bg-light">

                    <h5 class="card-title fw-bold">OFFICE RELOCATION</h5>
                    <p class="card-text p-4">Sidra Movers & Packers is the prominent service providers of Home
                        Relocation Services in UAE. We provide services for those people who are moving from
                        anywhere in UAE.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
            <div class="card ">
                <div class="inner">
                    <img class="card-img-top img-fluid mb-2 w-100"
                        src="../../../assets/scenery-designers-work.jpg" alt="Card image cap">
                </div>
                <div class="card-body bg-light">

                    <h5 class="card-title fw-bold">FURNITURE RECONFIGURATION</h5>
                    <p class="card-text p-4">Sidra Movers & Packers is the prominent service providers of Home
                        Relocation Services in UAE. We provide services for those people who are moving from
                        anywhere in UAE.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4  m-auto" data-aos="zoom-in-down">
        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
            <div class="card ">

                <div class="inner">
                    <img class="card-img-top img-fluid mb-2 w-100"
                        src="../../../assets/woman-assembling-diy-chair-from-scratch.jpg" alt="Card image cap">
                </div>
                <div class="card-body bg-light">


                    <h5 class="card-title fw-bold">FURNITURE INSTALLATION</h5>
                    <p class="card-text p-4">Sidra Movers & Packers is the prominent service providers of Home
                        Relocation Services in UAE. We provide services for those people who are moving from
                        anywhere in UAE.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
            <div class="card">
                <div class="inner">
                    <img class="card-img-top img-fluid mb-2 w-100"
                        src="../../../assets/business-owner-ready-ship-her-customers-orders-close-up-female-hands-putting-tape-big-package-with-products.jpg" alt="Card image cap">
                </div>
                <div class="card-body bg-light">

                    <h5 class="card-title fw-bold">PACKING SERVICES</h5>
                    <p class="card-text p-4">Sidra Movers & Packers is the prominent service providers of Home
                        Relocation Services in UAE. We provide services for those people who are moving from
                        anywhere in UAE.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
            <div class="card ">
                <div class="inner">
                    <img class="card-img-top img-fluid mb-2 w-100"
                        src="../../../assets/3718045.jpg" alt="Card image cap">
                </div>
                <div class="card-body bg-light">

                    <h5 class="card-title fw-bold">CARGO LOADING / OFFLOADING & TRANSPORT</h5>
                    <p class="card-text p-4">Sidra Movers & Packers is the prominent service providers of Home
                        Relocation Services in UAE. 
                        anywhere in UAE.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="about text-center my-4">
        <div class="container">
            <button class="btn btn-primary" data-aos="zoom-out-left">SEE MORE SERVICES</button>
        </div>

    </div>
</div>



<!-- <div class="position-relative">
    <img src="../../../assets/wepik-export-20230508044535qPDy.jpeg" alt="img-fluid" class="img-fluid">

    <div class="position-absolute top-0 end-0 p-3" data-aos="fade-left">
        <div class="p-2 border border-5 border-dark  boxx">
          
            <div class="container" id="team">
                <div class="about text-center my-4">
                    <div class="container">
                        <h1>Move With Ease</h1>
                        <hr class="m-auto w-30" style="color:rgb(5, 5, 5);" />
                    </div>
                </div>
              
                <p class="dd">With our super simple service we can take you from getting a quote, right through
                    to being in your new home with all of your belongings securely packed and safely delivered, even in
                    the rooms of your choice.</p>

                <p class="text-center fw-bold">Call/Whatsapp; +971 50 782 2740</p>
            </div>
        </div>
    </div> -->

<div class="containser">
    <div class="section" id="about">
         
        <div class="row mb-2 m-auto">
            <div class="col-sm-12 col-md-6 col-lg-6 col-12" data-aos="fade-left">
                <div class="p-4 border border-5 border-dark mb-4">
                    <h1 class="text-center">Move With Ease</h1>
                    <P class="p-2 text-center">
                        With our super simple service we can take you <br>
                        from getting a quote, right through to being<br>
                         in your new home with all of your belongings<br>
                         securely packed and safely <br>
                        delivered, even inthe rooms of your choice.
                    </P>
                    <p class="text-center fw-bold">Call/Whatsapp; +971 50 782 2740</p>
 
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-12" data-aos="fade-right">
                <img class="w-100 h-70 mt-4" src="../../../assets/wepik-export-20230508044535qPDy.jpeg"
                    class="img-fluid img-thumbnail">
            </div>
        </div>

    </div>
</div>

<div class="reviews mt-4">
    <div class="container text-center" data-aos="fade-down">
        <p class="fw-bold">HAPPY CUSTOMERS</p>
        <h1 class="fw-bold">Testimonials</h1>
    </div>

    <div class="row m-auto" data-aos="zoom-out">
        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
            <div class="">
                <div class="card-body mt-3 text-center">
                    <img class="card-img-top img-fluid rounded-circle border" src="../../../assets/t2.jpg"
                        alt="Card image cap">
                    <h5 class="card-title text-center mt-2 fw-bold">Jonathan</h5>
                    <p class="card-text p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta distinctio
                        provident voluptas eligendi velit soluta molestias</p>
                    <!-- <button type="button" class="btn btn-danger mb-4"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        Know More
                    </button> -->
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
            <div class="">
                <div class="card-body mt-3 text-center">
                    <img class="card-img-top img-fluid rounded-circle border" src="../../../assets/t3.jpg"
                        alt="Card image cap">
                    <h5 class="card-title text-center mt-2 fw-bold">Jonathan</h5>
                    <p class="card-text p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta distinctio
                        provident voluptas eligendi velit soluta molestias</p>

                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
            <div class="">
                <div class="card-body mt-3 text-center">
                    <img class="card-img-top img-fluid rounded-circle border" src="../../../assets/s5.jpg"
                        alt="Card image cap">
                    <h5 class="card-title text-center mt-2 fw-bold">Rubina</h5>
                    <p class="card-text p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta distinctio
                        provident voluptas eligendi velit soluta molestias</p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="containewr position-relative text-center mt-4">
    <img src="../../../assets/smooth-wooden-plank-textured-background.jpg" alt="img-fluid" style="width:100%;">

    <div class="centered">
        <h1 class="fw-bold">Request A Free Quote</h1>
        <p>With our super simple service we can take you from getting quote, right through to being in your<br>
         new home with all of your belongings securely packed and safely delivered, even in rooms of<br>
        your choice.</p>
        <a type="button" href="home" class="btn btn-primary mb-4"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 1rem;">
            CLICK HERE
        </a>
    </div>
</div>

<a class="fixed-icon"
    href="whatsapp://send?phone=+971507822740&text=Hello!" target="_blank">
    <!-- <img src="../../../assets/whatsapp.png" style="font-size: 2px;"> -->
    <i class="fa-brands fa-whatsapp fa-2xl fs-1" style="color: #2c8307;"></i>
  </a>
  
 


<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted mt-4">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <!-- <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div> -->
        <!-- Left -->

        <!-- Right -->
        <!-- <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div> -->
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fa-solid fa-truck-fast fa-2xl" style="color: #ff8040;"></i>
                        SIDRA
                    </h6>

                    <p>
                        Here you can use rows and columns to organize your footer content. Lorem ipsum
                        dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        QUICK LINK
                    </h6>
                    <a class="nav-link  " href="">
                        <p> Home</p>
                    </a>
                    <a class="nav-link  " href=" ">
                        <p>About</p>
                    </a>
                    <a class="nav-link  " href=" ">
                        <p>Service</p>
                    </a>
                    <a class="nav-link  " href=" ">
                        <p>Contact</p>
                    </a>
                </div>
               
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    
                </div>
                 
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                   
                    <h6 class="text-uppercase fw-bold mb-4">CONTACT INFO</h6>
                    <p><i class="fas fa-home me-3"></i>Muroor Rd, Abu Dhabi, UAE</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        Email: info@smp.ae
                    </p>
                    <p (click)="makeCall2()"><i class="fas fa-phone me-3"></i>Mobile: +971 55 505 0856</p>
                    <p (click)="makeCall1()"><i class="fas fa-phone me-3"></i>Mobile: +971 50 782 2740</p>
                </div>
                
            </div>
             
        </div>
    </section>
     
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © Copyright 2012 - 2023 | All Rights Reserved | Sidra Movers & Packers
        
    </div>
     
</footer>
 